.config/Mattermost
.config/Slack
.config/Trolltech.conf
.config/autostart
.config/inkscape
.config/libreoffice
.config/mimeapps.list
.config/zoomus.conf
.dbshell
.ipython
.java
.jupyter
.keras
.mongorc.js
.mozilla
.ngrok2
.python_history
.scribus
.vim*.tmp
.vue_2
.vuerc
.wget-hsts
.zoom
.Xauthority
.bash_history
.bashrc.private
.bluefish
.cabal
.cache
.compose-cache
.config/.chromium-nosec
.config/chromium-nosec
.config/chromium
.config/dconf
.config/enchant
.config/gedit
.config/gtk-2.0
.config/htop
.config/katemetainfos
.config/katerc
.config/katevirc
.config/leafpad
.config/vlc
.dbus
.ghc
.lesshst
.local
.nix-defexpr
.nix-profile
.npm
.pki
.ssh
.vim
.viminfo
.weechat
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmionad.o
.xsession-errors
.xsession-errors.old
Downloads
code
media
paconsole
screenshots
.config/configstore
.xmonad/xmonad.o
