media
code
Downloads
.cache
.compose-cache
.config/chromium
.config/dconf
.config/htop
.bash_history
.dbus
.local
.pki
.ssh
.viminfo
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.Xauthority
.xsession-errors*
*.swp
*.swo
.nix-defexpr
.nix-profile
.cabal
.ghc
.config/configstore
.lesshst
.npm
.psql_history
.vim
.viminfz.tmp
docs/
screenshots/
.weechat
.stack/
.bashrc.private
